body {
  background-color: rgb(59, 59, 107);
  color: aliceblue;
}
#header-btn-list {
  display: flex;
  list-style-type: none;
  margin: 0 auto;

  width: 350px;
}
.btn-list {
  margin-left: 10px;
}

#title {
  text-align: center;
}
#new-member-div {
  margin: auto;
  width: 20%;
}
#new-member {
  display: grid;
  color: black;
  margin-top: 20px;
}
.form-input {
  width: 300px;
  margin-bottom: 10px;
}
#add-new-member {
  width: 60px;
}
#back-to-start-btn {
  width: 300px;
  height: 200px;
  font-size: x-large;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.402);
}
h1 {
  text-align: center;
}
