body {
  background-color: blueviolet;
}
#header-btn-list {
  display: flex;
  list-style-type: none;
  margin: auto;
  width: 15%;
}
.btn-list {
  margin-left: 10px;
}

#title {
  text-align: center;
}
.remove-btn {
  margin-left: 10px;
  margin-bottom: 5px;
}
.delete-btn {
  margin-left: 20px;
  margin-right: 3px;
}
