body {
  background-color: blueviolet;
}
#header-btn-list {
  display: flex;
  list-style-type: none;
  margin: auto;
  width: 15%;
}
.btn-list {
  margin-left: 10px;
}

#title {
  text-align: center;
}
