body {
  background-color: blueviolet;
  text-align: center;
}
#header-btn-list {
  display: flex;
  list-style-type: none;
  margin: auto;
  width: 15%;
}
.btn-list {
  margin-left: 15px;
  margin-bottom: 25px;
}

#title {
  text-align: center;
}

.delete-btn {
  margin-left: 20px;
}
#memberlist {
  list-style: none;
}
