<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/AddMember.css" />
    <title>The club</title>
  </head>
  <body>
    <header>
      <h2 class="header" id="title">The Clubb</h2>
      <ul class="header" id="header-btn-list">
        <li class="btn-list" id="btn-home">
          <a href="">
            <button>Start sida.</button>
          </a>
        </li>
        <li class="btn-list" id="btn-new-member">
          <a href="">
            <button>Medlems lista.</button>
          </a>
        </li>
      </ul>
    </header>

    <div>
      <form action="" id="new-member">
        <label for="first-name">Förnamn:</label>
        <input type="text" id="first-name" />
        <label for="last-name">Efternamn:</label>
        <input type="text" id="last-name" />
        <label for="city">Stad:</label>
        <input type="text" id="city" />
        <label for="number-of-years">År som activ:</label>
        <input type="text" id="number-of-years" />
      </form>
      <button id="add-new-member">Spara</button>
    </div>
  </body>
</html>
