<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/AddMember.css" />
    <title>The club</title>
  </head>
  <body>
    <header>
      <h2 class="header" id="title">The Clubb</h2>
      <ul class="header" id="header-btn-list">
        <li class="btn-list" id="btn-home">
          <a th:href="@{/}">
            <button>Start sida.</button>
          </a>
        </li>
        <li class="btn-list" id="btn-new-member">
          <a th:href="@{member-list}">
            <button>Medlems lista.</button>
          </a>
        </li>
      </ul>
    </header>

    <div id="new-member-div">
      <form
        method="post"
        th:action="@{/add-new-member}"
        id="new-member"
        th:objekt="${newMember}"
      >
        <label for="first-name">Förnamn:</label>
        <input
          type="text"
          class="form-input"
          id="first-name"
          th:field="*{newMember.firstName}"
          required
        />
        <label for="last-name">Efternamn:</label>
        <input
          type="text"
          class="form-input"
          id="last-name"
          th:field="*{newMember.lastName}"
          required
        />
        <label for="city">Stad:</label>
        <input
          type="text"
          class="form-input"
          id="city"
          th:field="*{newMember.city}"
          required
        />
        <label for="number-of-years">År som activ:</label>
        <input
          type="number"
          class="form-input"
          id="number-of-years"
          min="0"
          th:field="*{newMember.yearsActive}"
          required
        />
        <input type="submit" id="add-new-member" />
      </form>
    </div>
  </body>
</html>
