<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/memberlist.css" />
    <script src="/memberlist.js" defer></script>

    <title>The club</title>
  </head>
  <body>
    <header>
      <h2 class="header" id="title">The Clubb</h2>
      <ul class="header" id="header-btn-list">
        <li class="btn-list" id="btn-home">
          <a th:href="@{/}">
            <button>Start sida</button>
          </a>
        </li>
      </ul>
    </header>
    <div id="body-div">
      <label for="search">Sök medlem:</label>
      <input type="text" id="search" />
      <a href="">
        <button>Sök</button>
      </a>
      <ul id="memberlist">
        <li th:id="${member.membershipNumber}" th:each="member: ${members}">
          <span th:text="${member.firstName}"></span>
          <span> </span>
          <span th:text="${member.lastName}"></span>
        </li>
      </ul>
    </div>
  </body>
</html>
