<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/start.css" />
    <title>The club</title>
  </head>
  <body>
    <header>
      <h2 class="header" id="title">The Clubb</h2>
      <ul class="header" id="header-btn-list">
        <li class="btn-list" id="btn-members">
          <a th:href="@{/member-list}">
            <button>Medlems lista.</button>
          </a>
        </li>
        <li class="btn-list" id="btn-new-member">
          <a th:href="@{/new-member}">
            <button>Ny medlem.</button>
          </a>
        </li>
      </ul>
    </header>
    <div class="body">
      <p class="body" id="info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aut sunt
        magni quas beatae, eligendi quisquam ex soluta veritatis voluptatibus?
        Dolores nam eveniet fuga vitae quam, voluptatum distinctio tenetur quia.
      </p>
    </div>
  </body>
</html>
