<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/start.css" />
    <script src="start.js" defer></script>
    <title>The club</title>
  </head>
  <body>
    <header>
      <h2 class="header" id="title">The Clubb</h2>
      <ul class="header" id="header-btn-list">
        <li class="btn-list" id="btn-members">
          <a th:href="@{/member-list}">
            <button>Medlems lista</button>
          </a>
        </li>
      </ul>
    </header>
    <div class="body">
      <p class="body" id="info">
        the clubb är en klubb för folk som gillar klubbar. i den här klubben så
        pratar vi endast om klubbar och gör endast saker relaterat till klubbar.
        om några av klubbens regler inte följs av en av klubbens medlemmar så
        åker klubban fram och klubbmedlemen klubbas igenom som exkomuniserad.
        <img id="klubban" src="/klubba.jpeg" alt="klubban" />
      </p>
    </div>
  </body>
</html>
